/* Header Styles */
html {
  width: 1440px;
  margin: 0 auto;
}

header {
  position: fixed;
  width: 1440px;
  height: 84px;
  top: 0;
  background: #f5f7fa;
}

#logoHeader {
  width: auto;
  height: 84px;
  margin-right: 8px;
}

.menu {
  display: flex;
  gap: 100px;
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  left: 29.55%;
  right: 29.62%;
  top: 35.71%;
  bottom: 35.71%;
}

.menu li {
  display: flex;
  align-items: center;
  gap: 10px;
  width: auto;
  height: 24px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #18191f;
}

.menu li:hover {
  color: #4caf4f;
  cursor: pointer;
}

.login {
  display: flex;
  gap: 0;
  position: absolute;
  right: 3%;
  top: 10%;
  list-style: none;
}

.login button {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100px;
  height: 40px;
  padding: 10px 20px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  border-radius: 6px;
}

#loginButton {
  background: #f5f7fa;
  color: #4caf4f;
  border: none;
  box-shadow: none;
}

#SignUpButton {
  background: #4caf4f;
  color: #fff;
  border: 1px solid #4caf4f;
  box-shadow: none;
}

#loginButton:hover {
  color: black;
  cursor: pointer;
}

#SignUpButton:hover {
  color: #4caf4f;
  background: #f5f7fa;
  cursor: pointer;
  border: 3px solid #4caf4f;
}

/* Hero Section */
.hero {
  display: flex;
  align-items: center;
  padding-top: 96px;
  gap: 16px;
  width: 1440px;
  height: 599px;
  background: #f5f7fa;
}

/* Text */
.text {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-left: 100px;
  gap: 50px;
}

.text h1, .text p {
  font-family: 'Inter';
  font-style: normal;
  margin: 0;
  text-align: center;
}

.text h1 {
  font-weight: 600;
  font-size: 64px;
  line-height: 76px;
  color: #4d4d4d;
  text-align: left;
}

.text p {
  font-weight: 400;
  font-size: 26px;
  line-height: 24px;
  color: #717171;
  text-align: left;
}

/* Button */
.text button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 32px;
  gap: 10px;
  background: #4caf4f;
  border-radius: 6px;
  color: #fff;
  text-decoration: none;
  border: 3px solid #4caf4f;
  width: 200px;
  font-family: 'Inter';
  font-size: 24px;
}

.text button:hover {
  color: #4caf4f;
  background: #f5f7fa;
  cursor: pointer;
  border: 3px solid #4caf4f;
}

#hero-image img {
  border-radius: 20px;
  margin-left: 20px;
}

/* Additional Styling (Optional) */
body {
  margin: 0;
  font-size: 18px;
}

/* Vision Section */
.vision {
  text-align: center;
  padding: 50px 0;
  width: 1440px;
}

/* Vision Statement */
.visionStatement h2 {
  font-family: 'Inter';
  font-size: 64px;
  color: #4d4d4d;
  margin: 50px;
  padding-bottom: 50px;
}

/* Vision Containers */
.visionContainers {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

/* Individual Vision Container */
.visionContainer {
  max-width: 300px;
  padding: 20px;
  text-align: center;
  margin: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Vision Container Image */
.visionContainers img {
  max-width: 100px;
  margin-bottom: 15px;
}

/* Vision Container Heading */
.visionContainers h3 {
  font-family: 'Inter';
  font-size: 48px;
  color: #4d4d4d;
}

/* Vision Container Paragraph */
.visionContainers p {
  font-family: 'Inter';
  font-size: 26px;
  color: #717171;
  line-height: 1.5;
  margin: 50px;
}

/* Achievements */

/* Auto layout */
.statistics {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 64px 0;
  gap: 30px;
  width: 1440px;
  height: 288px;
  background: #f5f7fa;
}

/* Individual Statistic Items */

/* Auto layout */
.statistics {
  display: flex;
  align-items: center;
  padding: 64px 0;
  gap: 60px;
  width: 100%;
  max-width: 1440px;
  background: #f5f7fa;
}

/* Statistic Text */
.statisticText {
  margin: 50px;
  font-size: 46px;
  color: #4d4d4d;
}

/* Statistic Grid */
.statistic-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

/* Individual Statistic Items */
.statistic1, .statistic2, .statistic3, .statistic4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  width: 100%;
}

/* Inside auto layout */
.statistic1 img, .statistic2 img, .statistic3 img, .statistic4 img {
  width: 48px;
  height: 48px;
}

/* Details */

/* Auto layout */
.statistic1 div, .statistic2 div, .statistic3 div, .statistic4 div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0;
  width: 100%;
}

/* Number */
.statistic1 h3, .statistic2 h3, .statistic3 h3, .statistic4 h3 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  color: #4d4d4d;
  margin: 10px;
}

/* Label */
.statistic1 p, .statistic2 p, .statistic3 p, .statistic4 p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  color: #717171;
  margin-top: 30px;
  text-align: center;
}

/* .demo */

/* Auto layout */
.demo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 0;
  gap: 32px;
  width: 1440px;
  height: auto;
  background: white;
}

/* Heading/Headline 2 */
.demo h2 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 38px;
  text-align: center;
  color: #4d4d4d;
}

/* Button */
.demo button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 14px 32px;
  gap: 8px;
  width: auto;
  background: #4caf4f;
  border-radius: 6px;
  color: #fff;
  text-decoration: none;
  border: 3px solid #4caf4f;
  width: 200px;
  font-family: 'Inter';
  font-size: 24px;
  margin-bottom: 53px;
}

.demo button:hover {
  color: #4caf4f;
  background: #f5f7fa;
  cursor: pointer;
  border: 3px solid #4caf4f;
}

/* Label */
.demo button span {
  width: auto;
  height: 24px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
}

/* Arrows & Directions/Right */
.demo button svg {
  width: 16px;
  height: 16px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

/* Down */
.demo button svg.down {
  position: absolute;
  width: 11.44px;
  height: 6px;
  left: 13.94px;
  top: 5px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

/* Vector */
.demo button svg.vector {
  position: absolute;
  width: 6px;
  height: 11.44px;
  left: 2.5px;
  top: 11px;
  border: 1.1px solid #fff;
  transform: rotate(-90deg);
}

/* Footer */
footer {
  display: flex;
  justify-content: space-around;
  padding: 64px 0;
  background: #263238;
  width: 1440px;
  height: 328px;
}

/* Footer Bucket 1 */
.footerBucket1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 400px;
  height: 189.67px;
  color: white;
  gap: 10px;
  font-family: 'Inter';
  font-size: 26px;
}

.footerBucket1 img {
  width: 191px;
  display: flex;
  align-items: center;
  gap: 9.89px;
}

.footerBucket1 button {
  font-size: 24px;
  border: none;
  background-color: #263238;
  color: white;
}

/* Footer Bucket 2 */
.footerBucket2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  width: 255px;
  height: 92px;
}

.footerBucket2 h4 {
  line-height: 28px;
  color: #fff;
  font-family: 'Inter';
  font-size: 26px;
  margin-bottom: 10px;
}

.footerBucket2 form {
  width: 255px;
  height: 40px;
  position: relative;
}

.footerBucket2 label {
  color: #d9dbe1;
  font-family: 'Inter';
  font-size: 26px;
}

.footerBucket2 input {
  width: 150%;
  height: 120%;
  background: #fff;
  opacity: 0.2;
  border-radius: 10px;
  color: black;
  font-size: 26px;
}

.footerBucket2 button {
  position: absolute;
  background: #fff;
  left: 88.24%;
  right: 4.71%;
  top: 68.48%;
}
